extends include/layout
block content
    #container(style='width:50%;')
        #logo 
            ='UV'
            span(style='color:#9BCD9B;') O
            ='ID'
        #portalContainer
            p.introText uvoid in an anonymous online marketplace that allows anyone, anywhere to trade anything
            div(style='margin:0px auto;')
                div.introFields
                    form(action='/login', method='POST', id='loginForm')
                        input(type='text', placeholder='username', name='loginUsername')
                        input(type='password', placeholder='password', name='loginPassword')
                #introButtons
                    #subIntroButtons
                        a(href='/register') Register
                        &nbsp;&nbsp;
                        span(style='color:#f1f1f1') |
                        &nbsp;&nbsp;
                        a(href='/terms') Terms
                    button.submitLogin.button(style='float:right;') Login