extends include/layout
block content
    #container(style='width:50%;')
        #logo 
            ='UV'
            span(style='color:#9BCD9B;') O
            ='ID'
        #portalContainer
            p.introText uvoid in an anonymous online marketplace that allows anyone, anywhere to trade anything
            div(style='margin:0px auto;')
                div.introFields
                    form(action='', method='POST', id='loginForm')
                        div(style='opacity:0.3;width:100% !important;').field
                            span(style='') random username &nbsp;
                            span(style='float:right;font-weight:bold;') #{randomUsername}
                        input(type='password', placeholder='choose password', name='registerPassword')
                        input(type='password', placeholder='confirm password', name='registerConfirmPassword')
                #introButtons
                    #subIntroButtons
                        a(href='/') Back

                    button.submitLogin.button(style='float:right;') Register