extends include/layout
block content
    #container(style='width:50%;')
        #logo 
            ='UV'
            span(style='color:#9BCD9B;') O
            ='ID'
        #portalContainer
            p.introText uvoid in an anonymous online marketplace that allows anyone, anywhere to trade anything
            div(style='margin:0px auto;')
                p.introSubText by entering any page on this website, you explicitly agree to understanding and being bound by the terms set out below 
                p.introSubText the purpose of this website is made clear above. we do not log any information about you, we will never know or share who you are, we will never know or share where you are, we will never know what or where you have bought. nothing is stored permanently, everything is encrypted 
                p.introSubText we will not be held liable for any bitcoins lost or stolen, damage to you or your health and safety, or anything thereof. you also agree that we are not responsible for any listings made on uvoid, and that you, the seller or buyer are responsible for all listings that you create or purchase
                    strong &nbsp; use uvoid at your own risk.
                #introButtons
                    #subIntroButtons
                        a(href='/') Back