doctype 5
html
  head
    meta(charset='utf-8')
    title
      | #{title} - #{__('page-short-description')}
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui/jquery-ui-1.10.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui/jquery.dataTables_themeroller.css')
    script.
      var locale;
    script(type='text/javascript', src='/javascript/jquery/jquery.min.js')
    script(type='text/javascript', src='/javascript/jquery/jquery.dataTables.js')
    script(type='text/javascript', src='/javascript/main.js')
  body
    if(errorMessage != '')
      #message.error=errorMessage
    if(successMessage != '')
      #message.success=successMessage
    block content
    footer#footer