extends ../include/layout
block content
    #container(style='width:65%;')
        #logo 
            ='UV'
            span(style='color:#9BCD9B;') O
            ='ID'
        #loggedContainer
            script(type='text/javascript', src='/javascript/sys.js')
            #generatedCode
                span.small-button.close-dialog-red X
                p.status WAITING FOR 
                    span.saleBtcAmount
                    span &nbsp;PAYMENT TO
                p.saleBtcRecipient
                //- span(style='float:left') 0.54 BTC
            #paymentComplete
                span.small-button.close-dialog-green X
                p.status PAYMENT RECEIVED
                form(action='/messages/init', method='POST')
                    input(type='hidden', value='', id='initMessageId', name='initMessageId')
                    textarea(cols='60', rows='10', placeholder='Send seller a message - such as where to drop off your goods, or how to contact you.', name='initMessageBody')
                    input(type='submit', value='Send Message').small-button.sendPayMessageButton
            #leftMenu
                a(href='/trade').button Trade
                a(href='/settings').button Settings
                a(href='/logout').button Logout
                h3(style='margin-top:15px;') Categories
                ul#categories
                    - each category in session.categories
                        li
                            a(href='/trade/category/#{category.categoryId}') #{category.name}
            #rightContent
                block portal-content