#settings(title='Settings', style='display:none;')
      #settingsTabs
        ul
          li
            a(href='#general') General
          //- li
            a(href='#audio') Audio
          //- li
            a(href='#video') Video
          //- li
            a(href='#interface') Interface
        #general
          h2 GENERAL SETTINGS
            span(style='float:right;font-size:12px;')
                button(style='background:#3B5998;color:white;border:none;') Link with Facebook
          hr
          h4 Email &amp; Password
          form#emailPasswordChangeForm
            input(type='text', name='accountEmailAddress', placeholder='change email', style='width:300px;')
            input(type='password', name='accountPassword', placeholder='change password', style='width:300px;')
          h4 Client Language
          form#languageChangeForm
            select(name='newLanguage')
              option(value='en') English
              option(value='cn') Chinese
              option(value='rs') Russian
              option(value='es') Spanish
              option(value='ar') Arabic