extends ../include/portal-layout
block portal-content
    form(action='', method='POST')#settingsForm
        table#formTable
            tr
                td(style='width:50%;')
                    h3 REPLY BODY
                    textarea(cols='20', rows='5', name='replyBody').field
                td(style='border:none !important;')
                    p You can only reply to messages that have been initiated through a purchase, make sure you do not include any personal information, unless absolutely sure you know what you're doing
            tr
                td(style='width:50%;')
                    a(href='/messages').small-button Back
                    input(type='submit', value='Send', style='display:inline;').small-button
                td(style='border:none !important;')