extends ../include/portal-layout
block portal-content
    table.tradeTable#dataTable
        thead
            th Title
            th Sender
            th Actions
        tbody
            - each message in messages
                tr
                    td 
                        if(message.status == 1)
                            span #{message.body}
                        else
                            strong #{message.body}
                    td #{message.username}
                    td
                        a(href='/messages/reply/#{message.messageId}').small-button Reply
                        a(href='/messages/delete/#{message.messageId}').small-button Delete