extends ../include/portal-layout
block portal-content
    form(action='', method='POST')#settingsForm
        table#formTable 
            tr
                td(style='width:50%;')
                    div
                        h3 LISTING TITLE
                        input(type='text', placeholder='new listing title', name='listingTitle').field
                td(style='border:none !important;')
                    p.introSubText Keep a simple and concise listing title to attract the maximum number of buyers, all other information can be included in the listing description below.        
            tr
                td(style='width:50%;')
                    div
                        h3 CATEGORY
                        select(name='newListingCategory', style='width:290px !important;').field
                            option(value='1', disabled selected) select option
                            - each category in session.categories
                                option(value='#{category.categoryId}') #{category.name}
                td(style='border:none !important;')
                    p.introSubText Select a category for your listing
            tr
                td(style='width:50%;')
                    div
                        h3 PHOTO URL
                        input(type='text', name='listingPhoto', placeholder='optional').field
                td(style='border:none !important;')
                    p.introSubText URL of a photo related to your listing
            tr
                td(style='width:50%;')
                    div
                        h3 DESCRIPTION
                        textarea(cols='20', rows='5', name='listingDescription', placeholder='what you have for sale, where you ship to, where you drop off - that sort of thing').field
                td(style='border:none !important;')
                    p.introSubText Your listing description should contain information about what you have for sale, how to contact you, and what your terms are. Any personal information left here is at your own risk, we recommend all communication happens though uvoid. 
            tr
                td(style='width:50%;')
                    div
                        h3 PRICE
                        input(type='text', placeholder='0.00', value='0.00', name='listingPrice').field
                td(style='border:none !important;')
                    p.introSubText This is the price in BTC you would like to charge for this listing. If you don't want to charge anything, simply leave it as it is.
            tr
                td(style='width:50%;')
                    a(href='/trade').small-button Back
                    input(type='submit', value='Save', style='display:inline;').small-button.saveSettings
                td(style='border:none !important;')
