extends ../include/portal-layout
block portal-content
    form(action='', method='POST')#settingsForm
        table#formTable
            tr
                td(style='width:50%;')
                    div
                        h3 USERNAME
                        input(disabled='disabled', style='opacity:0.3;', value='#{session.account.username}').field
                td(style='border:none !important;')
                    p This is the username that was automatically generated when you registered. 
            tr
                td(style='width:50%;')
                    div
                        h3 BITCOIN ADDRESS
                        input(type='text', placeholder='#{session.account.bitcoinAddress}', name='bitcoinAddress').field
                td(style='border:none !important;')
                    p Place your bitcoin wallet address in the field if you would like to create sell listings and accept fully anonymous bitcoin payments. (1% charge per sale)
            tr
                td(style='width:50%;')
                    div
                        h3 PASSWORD
                        input(type='password', placeholder='new password', name='newPassword').field
                        input(type='password', placeholder='confirm new password', name='confirmedNewPassword').field
                td(style='border:none !important;')
                    p Change your password from the one you created originally. It's required to have something different from your username, and at least 5 characters long.
                
            tr
                td(style='width:50%;')
                    input(type='submit', value='Save').small-button.saveSettings
                td(style='border:none !important;')