extends ../include/portal-layout
block portal-content
    table.tradeTable#dataTable
        thead
            th Title
            th Category
            th Seller
            th Price
            th Actions
        tbody
            - each listing in listings
                tr
                    td(style='height:20px;') 
                        a(href='/trade/view/#{listing.listingId}') #{listing.title}
                    td(style='height:20px;')  #{listing.name}
                    td(style='height:20px;')  #{listing.username}
                    td(style='height:20px;')  ฿ #{listing.price}
                    td(style='height:20px;')
                        if(listing.username == session.account.username) 
                            span(data-listingId='#{listing.listingId}').small-button.deleteButton Delete
                        else
                            span(rel='/trade/buy/#{listing.listingId}', data-amount='#{listing.price}', data-listingId='#{listing.listingId}').small-button.buyButton Buy
                            a(href='/trade/view/#{listing.listingId}').small-button View
