extends ../include/portal-layout
block portal-content
    #viewListing
        h3 #{listing.title}
        p Price: #{listing.price} BTC
        p(style='width:512px;') #{listing.description}
        p
            if(listing.photoUrl !== null && listing.photoUrl !== '')
                img(src='#{listing.photoUrl}', style='height:256px;width:256px;')
        br
        a(href='/trade').small-button Back
        a(href='/trade/buy/#{listing.listingId}', data-amount='#{listing.price}', data-listingId='#{listing.listingId}').small-button.buyButton Buy
