@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300);

body {
    /*font:  Arial !important;*/
    font-family: Helvetica !important;
}

a {
    color: #222;
    text-decoration: none;
}

#subIntroButtons a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #aaa;
}

h2 {
    color: #666;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    color:#999;
    font-weight: normal;
    text-transform: uppercase;
}

#container {
    margin:30px auto;
    height:100%;
    width: 700px;
    /*width:100%;*/
}

#logo {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif, Helvetica;
    /*font-size: 36px;*/
    font-size: 3em;
    color:#999;
}

.capital {
    text-transform:capitalize;
}

table {
    width: 100%;
    margin: 0px auto;
    border-collapse:collapse;
    border-spacing:0;
}

th {
    text-align: left;
    color: #333;
    padding:6px;
    /*font-weight: normal;*/
}

td > a {
    color:#000;
}

tr {
    color:#333;
    cursor:default;
    border: 1px solid #ddd;
    text-align:left;
}

td {
    color: #666;
    padding: 6px;
}

/*td > .name {
    cursor: pointer;
    opacity: 0.7;
}*/

#portalContainer {
    margin:0px auto;
    width: 50%;
    border-top: 1px solid #eee;
    padding: 20px;
}

#loggedContainer {
    margin:0px auto;
    width: 800px;
    border-top: 1px solid #eee;
    padding: 20px;  
}

#loginBox {
    /*border: 1px solid red;*/
    margin:0px auto;
    /*margin-bottom:25px;*/
    position:relative;
}

#loginBox h3 {
    /*background: #999;*/
    text-align:center;
    padding:2px;
    color:#999;
    margin:0px;
    font-weight: normal;
    margin-bottom: 10px;
}

input {
    display: block;
    margin-top: 3px;
    background:#eee;
    /*margin:5px 5px 5px 21px;*/
}

a {
    color:#fff;
}

#mainmenuButton {
    cursor:pointer;
    outline: 1px solid rgba(255, 255, 255, 0.0976562);
    border: 1px solid rgba(0, 0, 0, 0.347656);
    border-top: none;
    border-bottom: none;
    text-shadow: 0 0px 2px #000;
    position: absolute;
    right:9px;
    /*font: 11px Arial !important;*/
    top:0px;
    width: 98px;
    z-index: 99999;
    text-align: center;
    padding: 6px 0px 6px 0px;
    /*padding:5px 29px 5px 29px;*/
}

#mainmenuButton:hover {
    background: url(../assets/images/jq-global-nav.png) repeat-x 0 top #1b1b1b;
}

#mainmenu {
    position: absolute;
    right:0px;
    background: #ffffff;
    padding: 0px;
    display: none;
    width: 98px;
    margin:0px 9px 9px 9px;
    border-top: none;
    z-index: 99999;
}

#mainmenu a {
    z-index: 99999;
    margin: 0px;
}


.newTopicContent {
    background: #fff;
    opacity: 0.9;
    border: 1px solid #eee;
    padding: 5px;
}

#message {
    display: hidden;
    position: absolute;
    z-index: 999;
    top:0px;
    left:-10px;
    width:99.4%;
    padding:9px;
    text-align:center;
}

.minAge {
    color:#ff0000;
}

.error {
    color:#C67171;
    background: #FFFAFA;
}

.success {
    color: #838B83;
    background: #F0FFF0;
}

select {
    padding: 2px;
    color:#999;
    border:1px solid #ccc;
    background:#fff;
}

label {
    margin:5px 0px 5px 0px;
    color:#bbb;
    font-weight:normal;
}

.introText {
    text-align: center;
    color:#999;
    font-size:11px;
}

.introSubText {
    text-align: left;
    color:#ccc;
    font-size:11px;
}

#introButtons {
    padding: 10px;
}

#introButtons button {
    position: relative;
    right: -35px;
    top:-10px;

}

#subIntroButtons {
    position: relative;
    left: -10px;
    top: 15px;
}

#subIntroButtons a {
    color: #bbb;
}

.button{
    background: #aaa;
    color:white;
    padding: 10px;
    width: 80px;
    margin-right: 5px;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
}

#formTable div {
    /*margin-top: -100px;*/
}

#formTable div:first-child {
    margin-top: 0px;
}

#formTable td {
    border-right:1px solid #eee;
    font-size: 12px;
}

#formTable p {
    margin: 0px auto;
    padding-bottom: 20px;
    /*margin-bottom: 50px;*/
    width: 80%;
    color: #ddd;
    line-height: 20px;
    border-bottom: 1px solid #f9f9f9;
    /*line-height: 20px;*/
}

#formTable tr {
    border: none;
    text-align: left;
}

.small-button {
    background: #ccc;
    color:white;
    padding: 6px 14px;
    /*width: 80px;*/
    margin-right: 5px;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
}

#loggedContainer h3 {
    color:#999;
    margin-top: 0px;
    margin-bottom:10px;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif, Helvetica;
    font-size: 16px;
}

.welcomeText {
    font-size:11px;
    color:#999;
    margin-bottom: 10px;
}

input[type='text'], input[type='password'], input[type='file'], .field {
    border: none;
    background: #f9f9f9;
    padding: 10px;
    font-size: 11px;
    -webkit-appearance:none;
    color:#aaa;
    border-radius: 5px;
    width: 100%;
}

.field {
    width: 270px !important;
}

.tradeTable {
    width: 100% !important;
    border: none !important;
    margin-bottom: 10px !important;
}

.tradeTable th {
    padding: 10px !important;
    font-weight: normal;
}

.tradeTable th:first-child {
    border-radius: 5px 0px 0px 0px;
}

.tradeTable th:last-child {
    border-radius: 0px 5px 0px 0px;
}

.tradeTable td {
    padding: 20px !important;
    border: none !important;
}

.tradeTable tr {
    border: none !important;
}

.tradeTable tr:hover {
    opacity: 0.7;
    cursor: pointer;
}

#dataTable_paginate {
    float:left !important;
    text-align: left !important;
}

#dataTable_filter {
    margin-top:-10px;
    margin-bottom: 10px;
}

.paginate_active {
    background: #ddd !important;
    padding: 5px 10px !important;
    border: none !important;
    opacity: 0.6 !important;
}

.paginate_button {
    background: #eee !important;
    padding: 5px 10px !important;
    border: none !important;
    opacity: 0.3 !important;
}

.paginate_active:hover, .paginate_button:hover {
    opacity: 0.8 !important;
}

#dataTable_previous, #dataTable_next, #dataTable_first, #dataTable_last {
    display: none;
}


.tradeTable tr:nth-child(even){
    background: #fcfcfc !important;
}

.tradeTable tr:nth-child(odd) {
    background: #fff !important; 
}

.button:hover, .small-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

#leftMenu .button {
    display: block;
    margin-bottom: 5px;
}

#leftMenu {
    float: left;
}

#rightContent {
    /*border:1px solid red;*/
    width: 85%;
    float: right;
    padding: 0px;
}

#viewListing h3 {
    font-family: 'Josefin Sans', sans-serif, Helvetica;
    font-weight: normal;
    font-size: 18px;
    color: #999;
    margin: 0px;
}

#viewListing p {
    color: #aaa;
}

#generatedCode {
    background: #FF6347;
    opacity: 0.9;
    display: none;
    position: absolute;
    padding: 10px;
    top: 40%;
    left:37.5%;
    color: #fff;
    z-index: 9999;
    width: 450px;
    text-align: center;
    height: 100px;
    /*right:350px;*/
    border-radius:5px;
}

#paymentComplete {
    background: #9BCD9B;
    opacity: 0.9;
    display: none;
    position: absolute;
    padding: 10px;
    top: 30%;
    left:37.5%;
    color: #fff;
    z-index: 9999;
    width: 450px;
    text-align: center;
    height: 220px;
    /*right:350px;*/
    border-radius:5px;
}

#paymentComplete .small-button {
    background: #698B69;
    color: #fff;
}

#paymentComplete .sendPayMessageButton {
    float:right;
}

#paymentComplete textarea {
    background:#fff;opacity:0.9;border:none;color:#333;padding:5px;
}   

p.status {
    font-size: 21px;
    font-family: 'Josefin Sans', sans-serif, Helvetica;
    margin-bottom: 5px;
}

#categories {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#categories a {
    /*margin: 5px;*/
    /*padding: 5px;*/
    /*display: none;*/
    color: #999;
    opacity: 0.8;
    /*border-radius: 5px;*/
    /*background: #eee;*/
}

#categories a:hover {
    opacity: 1;
    cursor: pointer;
}

.close-dialog-red {
    float: right;
    margin: -5px;
    padding: 5px 7px;
    background: #8B3626;
    font-size: 9px;
    /*margin-bottom: 10px;*/
    color:#fff;
}

.close-dialog-green {
    float: right;
    margin: -5px;
    padding: 5px 7px;
    background: #698B69;
    font-size: 9px;
    /*margin-bottom: 10px;*/
    color:#fff;
}


th {
    background: #eee;
    border:none;
}

.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.fileInput::before {
  content: 'Select';
    color:#999;
    margin-right: 5px;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
}
